PATH_add .hatch/bin
layout php

### MARIA
export MARIA_HOST="127.0.0.1"
export MARIA_PORT=3306
export MARIA_USER="root"
export MARIA_PASS="maria"

### MYSQL
export MYSQL_HOST="127.0.0.1"
export MYSQL_PORT=3360
export MYSQL_USER="root"
export MYSQL_PASS="mysql"


### MONGO
export MONGO_HOST="127.0.0.1"
export MONGO_PORT=27017
export MONGO_USER="mongo"
export MONGO_PASS="mongo"


### REDIS
export REDIS_HOST="127.0.0.1"