version: '3.1'

services:

  tests:
    container_name: tests
    image: databases-dev
    build:
      context: .
    networks:
      - database
    volumes:
      - ./bin:/usr/src/code/bin
      - ./src:/usr/src/code/src
      - ./tests:/usr/src/code/tests
      - ./phpunit.xml:/usr/src/code/phpunit.xml
    ports:
      - "8708:8708"

  adminer:
    image: adminer
    container_name: utopia-adminer
    restart: always
    ports:
      - "8760:8080"
    networks:
      - database

  postgres:
    image: postgres:13
    container_name: utopia-postgres
    networks:
      - database
    ports:
      - "8700:5432"
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: password

  mariadb:
    image: mariadb:10.11
    container_name: utopia-mariadb
    networks:
      - database
    ports:
      - "8701:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=password
  
  mongo:
    image: mongo:5.0
    container_name: utopia-mongo
    networks:
      - database
    ports:
      - "8702:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example

  mysql:
    image: mysql:8.0.33
    container_name: utopia-mysql
    networks:
      - database
    ports:
      - "8703:3307"
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: default
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      MYSQL_TCP_PORT: 3307
    cap_add:
      - SYS_NICE

  redis:
    image: redis:6.0-alpine
    container_name: utopia-redis
    ports:
      - "8706:6379"
    networks:
      - database

  database-proxy:
    image: appwrite/database-proxy:0.1.0
    container_name: utopia-database-proxy
    networks:
      - database
    environment:
      - UTOPIA_DATA_API_SECRET=test-secret
      - UTOPIA_DATA_API_SECRET_CONNECTION=mariadb://root:password@database-proxy-mariadb:3306/utopiaTests

  database-proxy-mariadb:
    image: mariadb:10.11
    container_name: utopia-database-proxy-mariadb
    networks:
      - database
    environment:
      - MYSQL_ROOT_PASSWORD=password
      - MARIADB_DATABASE=utopiaTests
    ports:
      - "8770:3306"

networks:
  database:
