services:
  tests:
    container_name: tests
    image: databases-dev
    build:
      context: .
      args:
        DEBUG: true
    networks:
      - database
    volumes:
      - ./bin:/usr/src/code/bin
      - ./src:/usr/src/code/src
      - ./tests:/usr/src/code/tests
      - ./dev:/usr/src/code/dev
      - ./phpunit.xml:/usr/src/code/phpunit.xml
      - ./dev/xdebug.ini:/usr/local/etc/php/conf.d/xdebug.ini
      - /var/run/docker.sock:/var/run/docker.sock
      - ./docker-compose.yml:/usr/src/code/docker-compose.yml
    environment:
      PHP_IDE_CONFIG: serverName=tests

  adminer:
    image: adminer
    container_name: utopia-adminer
    restart: always
    ports:
      - "8700:8080"
    networks:
      - database

  postgres:
    image: postgis/postgis:16-3.4
    container_name: utopia-postgres
    networks:
      - database
    ports:
      - "8701:5432"
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: password
      POSTGRES_DB: root
    volumes:
      - ./docker/postgres-init.sql:/docker-entrypoint-initdb.d/init.sql

  postgres-mirror:
    image: postgis/postgis:16-3.4
    container_name: utopia-postgres-mirror
    networks:
      - database
    ports:
      - "8702:5432"
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: password
      POSTGRES_DB: root
    volumes:
      - ./docker/postgres-init.sql:/docker-entrypoint-initdb.d/init.sql

  mariadb:
    image: mariadb:10.11
    container_name: utopia-mariadb
    command: mariadbd --max_allowed_packet=1G
    networks:
      - database
    ports:
      - "8703:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=password

  mariadb-mirror:
    image: mariadb:10.11
    container_name: utopia-mariadb-mirror
    command: mariadbd --max_allowed_packet=1G
    networks:
      - database
    ports:
      - "8704:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=password

  mysql:
    image: mysql:8.0.41
    container_name: utopia-mysql
    networks:
      - database
    ports:
      - "8706:3307"
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: default
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      MYSQL_TCP_PORT: 3307
    cap_add:
      - SYS_NICE

  mysql-mirror:
    image: mysql:8.0.41
    container_name: utopia-mysql-mirror
    networks:
      - database
    ports:
      - "8707:3307"
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: default
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      MYSQL_TCP_PORT: 3307
    cap_add:
      - SYS_NICE

  redis:
    image: redis:7.4.1-alpine3.20
    container_name: utopia-redis
    ports:
      - "8708:6379"
    networks:
      - database

  redis-mirror:
    image: redis:7.4.1-alpine3.20
    container_name: utopia-redis-mirror
    ports:
      - "8709:6379"
    networks:
      - database

networks:
  database:
