includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    level: max
    paths:
        - src
        - tests
    scanFiles:
        - stubs/Swoole/Database/DetectsLostConnections.stub.php
        - stubs/Swoole/Database/PDOProxy.stub.php
        - stubs/Swoole/Database/PDOStatementProxy.stub.php
    stubFiles:
        - stubs/Swoole/Database/DetectsLostConnections.stub.php
        - stubs/Swoole/Database/PDOProxy.stub.php
        - stubs/Swoole/Database/PDOStatementProxy.stub.php
