includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    level: max
    paths:
        - src
        - tests
    excludePaths:
        - tests/unit/Adapter/Data
        - tests/unit/PHPStan/Data
    scanFiles:
        - stubs/Swoole/Database/DetectsLostConnections.stub.php
        - stubs/Swoole/Database/PDOProxy.stub.php
        - stubs/Swoole/Database/PDOStatementProxy.stub.php
    stubFiles:
        - stubs/Swoole/Database/DetectsLostConnections.stub.php
        - stubs/Swoole/Database/PDOProxy.stub.php
        - stubs/Swoole/Database/PDOStatementProxy.stub.php

services:
    -
        class: Tests\Unit\PHPStan\MagicPropertyFetchRule
        arguments:
            sourceDirectory: %rootDir%/../../../src
        tags:
            - phpstan.rules.rule
