parameters:
	ignoreErrors:
		-
			message: '#^Variable \$sql in empty\(\) always exists and is not falsy\.$#'
			identifier: empty.variable
			count: 1
			path: src/Database/Adapter/MariaDB.php

		-
			message: '#^Access to an undefined property object\:\:\$totalSize\.$#'
			identifier: property.notFound
			count: 1
			path: src/Database/Adapter/Mongo.php

		-
			message: '#^Call to an undefined method Utopia\\Database\\Adapter\\Mongo\\RetryClient\:\:abortTransaction\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Database/Adapter/Mongo.php

		-
			message: '#^Call to an undefined method Utopia\\Database\\Adapter\\Mongo\\RetryClient\:\:aggregate\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/Database/Adapter/Mongo.php

		-
			message: '#^Call to an undefined method Utopia\\Database\\Adapter\\Mongo\\RetryClient\:\:commitTransaction\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Database/Adapter/Mongo.php

		-
			message: '#^Call to an undefined method Utopia\\Database\\Adapter\\Mongo\\RetryClient\:\:connect\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/Database/Adapter/Mongo.php

		-
			message: '#^Call to an undefined method Utopia\\Database\\Adapter\\Mongo\\RetryClient\:\:createCollection\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Database/Adapter/Mongo.php

		-
			message: '#^Call to an undefined method Utopia\\Database\\Adapter\\Mongo\\RetryClient\:\:createIndexes\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: src/Database/Adapter/Mongo.php

		-
			message: '#^Call to an undefined method Utopia\\Database\\Adapter\\Mongo\\RetryClient\:\:createUuid\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Database/Adapter/Mongo.php

		-
			message: '#^Call to an undefined method Utopia\\Database\\Adapter\\Mongo\\RetryClient\:\:delete\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/Database/Adapter/Mongo.php

		-
			message: '#^Call to an undefined method Utopia\\Database\\Adapter\\Mongo\\RetryClient\:\:dropCollection\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/Database/Adapter/Mongo.php

		-
			message: '#^Call to an undefined method Utopia\\Database\\Adapter\\Mongo\\RetryClient\:\:dropDatabase\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Database/Adapter/Mongo.php

		-
			message: '#^Call to an undefined method Utopia\\Database\\Adapter\\Mongo\\RetryClient\:\:dropIndexes\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Database/Adapter/Mongo.php

		-
			message: '#^Call to an undefined method Utopia\\Database\\Adapter\\Mongo\\RetryClient\:\:endSessions\(\)\.$#'
			identifier: method.notFound
			count: 6
			path: src/Database/Adapter/Mongo.php

		-
			message: '#^Call to an undefined method Utopia\\Database\\Adapter\\Mongo\\RetryClient\:\:find\(\)\.$#'
			identifier: method.notFound
			count: 4
			path: src/Database/Adapter/Mongo.php

		-
			message: '#^Call to an undefined method Utopia\\Database\\Adapter\\Mongo\\RetryClient\:\:getMore\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/Database/Adapter/Mongo.php

		-
			message: '#^Call to an undefined method Utopia\\Database\\Adapter\\Mongo\\RetryClient\:\:insert\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Database/Adapter/Mongo.php

		-
			message: '#^Call to an undefined method Utopia\\Database\\Adapter\\Mongo\\RetryClient\:\:insertMany\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Database/Adapter/Mongo.php

		-
			message: '#^Call to an undefined method Utopia\\Database\\Adapter\\Mongo\\RetryClient\:\:isReplicaSet\(\)\.$#'
			identifier: method.notFound
			count: 4
			path: src/Database/Adapter/Mongo.php

		-
			message: '#^Call to an undefined method Utopia\\Database\\Adapter\\Mongo\\RetryClient\:\:listCollectionNames\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Database/Adapter/Mongo.php

		-
			message: '#^Call to an undefined method Utopia\\Database\\Adapter\\Mongo\\RetryClient\:\:listDatabaseNames\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Database/Adapter/Mongo.php

		-
			message: '#^Call to an undefined method Utopia\\Database\\Adapter\\Mongo\\RetryClient\:\:query\(\)\.$#'
			identifier: method.notFound
			count: 5
			path: src/Database/Adapter/Mongo.php

		-
			message: '#^Call to an undefined method Utopia\\Database\\Adapter\\Mongo\\RetryClient\:\:selectDatabase\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Database/Adapter/Mongo.php

		-
			message: '#^Call to an undefined method Utopia\\Database\\Adapter\\Mongo\\RetryClient\:\:startSession\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Database/Adapter/Mongo.php

		-
			message: '#^Call to an undefined method Utopia\\Database\\Adapter\\Mongo\\RetryClient\:\:startTransaction\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Database/Adapter/Mongo.php

		-
			message: '#^Call to an undefined method Utopia\\Database\\Adapter\\Mongo\\RetryClient\:\:toArray\(\)\.$#'
			identifier: method.notFound
			count: 4
			path: src/Database/Adapter/Mongo.php

		-
			message: '#^Call to an undefined method Utopia\\Database\\Adapter\\Mongo\\RetryClient\:\:toObject\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Database/Adapter/Mongo.php

		-
			message: '#^Call to an undefined method Utopia\\Database\\Adapter\\Mongo\\RetryClient\:\:update\(\)\.$#'
			identifier: method.notFound
			count: 19
			path: src/Database/Adapter/Mongo.php

		-
			message: '#^Call to an undefined method Utopia\\Database\\Adapter\\Mongo\\RetryClient\:\:upsert\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Database/Adapter/Mongo.php

		-
			message: '#^Call to function is_string\(\) with string will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 3
			path: src/Database/Adapter/Mongo.php

		-
			message: '#^Method Utopia\\Database\\Adapter\\Mongo\:\:decodePoint\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Database/Adapter/Mongo.php

		-
			message: '#^Strict comparison using \!\=\= between mixed and 0 will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 2
			path: src/Database/Adapter/Mongo.php

		-
			message: '#^Strict comparison using \=\=\= between Utopia\\Query\\Schema\\IndexType and ''unique'' will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Database/Adapter/Mongo.php

		-
			message: '#^Call to an undefined method Utopia\\Mongo\\Client\:\:isConnected\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Database/Adapter/Mongo/RetryClient.php

		-
			message: '#^Method Utopia\\Database\\Adapter\\Mongo\\RetryClient\:\:__call\(\) has parameter \$arguments with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Database/Adapter/Mongo/RetryClient.php

		-
			message: '#^Method Utopia\\Database\\Adapter\\Pool\:\:decodeLinestring\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Database/Adapter/Pool.php

		-
			message: '#^Method Utopia\\Database\\Adapter\\Pool\:\:decodePoint\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Database/Adapter/Pool.php

		-
			message: '#^Method Utopia\\Database\\Adapter\\Pool\:\:decodePolygon\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Database/Adapter/Pool.php

		-
			message: '#^Call to an undefined method Utopia\\Query\\Schema\:\:alterColumnType\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/Database/Adapter/Postgres.php

		-
			message: '#^Call to an undefined method Utopia\\Query\\Schema\:\:createCollation\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Database/Adapter/Postgres.php

		-
			message: '#^Call to an undefined method Utopia\\Query\\Schema\:\:createExtension\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Database/Adapter/Postgres.php

		-
			message: '#^Parameter \#1 \$string of function hex2bin expects string, int\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Database/Adapter/Postgres.php

		-
			message: '#^Parameter \#3 \$indexAttributeTypes of method Utopia\\Database\\Adapter\\Postgres\:\:createIndex\(\) expects array\<string, string\>, array\<string, Utopia\\Query\\Schema\\ColumnType\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Database/Adapter/Postgres.php

		-
			message: '#^Variable \$sql in empty\(\) always exists and is not falsy\.$#'
			identifier: empty.variable
			count: 1
			path: src/Database/Adapter/Postgres.php

		-
			message: '#^Method Utopia\\Database\\Adapter\\SQL\:\:newPermissionHook\(\) has parameter \$roles with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Database/Adapter/SQL.php

		-
			message: '#^PHPDoc tag @param references unknown parameter\: \$collection$#'
			identifier: parameter.notFound
			count: 1
			path: src/Database/Adapter/SQL.php

		-
			message: '#^PHPDoc tag @param references unknown parameter\: \$roles$#'
			identifier: parameter.notFound
			count: 1
			path: src/Database/Adapter/SQL.php

		-
			message: '#^PHPDoc tag @param references unknown parameter\: \$type$#'
			identifier: parameter.notFound
			count: 1
			path: src/Database/Adapter/SQL.php

		-
			message: '#^PHPDoc tag @return with type Utopia\\Database\\Hook\\PermissionFilter is incompatible with native type string\.$#'
			identifier: return.phpDocType
			count: 1
			path: src/Database/Adapter/SQL.php

		-
			message: '#^Parameter \#2 \$documentIds of method Utopia\\Database\\Hook\\Write\:\:afterDocumentDelete\(\) expects list\<string\>, array\<string\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Database/Adapter/SQL.php

		-
			message: '#^Parameter \$roles of class Utopia\\Database\\Hook\\PermissionFilter constructor expects list\<string\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: src/Database/Adapter/SQL.php

		-
			message: '#^Offset ''op_0'' might not exist on array\{\}\|array\{op_0\: mixed\}\.$#'
			identifier: offsetAccess.notFound
			count: 1
			path: src/Database/Adapter/SQLite.php

		-
			message: '#^Method Utopia\\Database\\Attribute\:\:__construct\(\) has parameter \$filters with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Database/Attribute.php

		-
			message: '#^Method Utopia\\Database\\Attribute\:\:__construct\(\) has parameter \$formatOptions with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Database/Attribute.php

		-
			message: '#^Method Utopia\\Database\\Attribute\:\:__construct\(\) has parameter \$options with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Database/Attribute.php

		-
			message: '#^Call to an undefined method Utopia\\Database\\Adapter\:\:decodeLinestring\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Database/Database.php

		-
			message: '#^Call to an undefined method Utopia\\Database\\Adapter\:\:decodePoint\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Database/Database.php

		-
			message: '#^Call to an undefined method Utopia\\Database\\Adapter\:\:decodePolygon\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Database/Database.php

		-
			message: '#^Call to function is_array\(\) with array will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Database/Database.php

		-
			message: '#^Call to function is_string\(\) with string will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Database/Database.php

		-
			message: '#^Call to function is_subclass_of\(\) with class\-string\<Utopia\\Database\\Document\> and ''Utopia\\\\Database\\\\Document'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Database/Database.php

		-
			message: '#^Instanceof between Utopia\\Database\\Attribute and Utopia\\Database\\Attribute will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/Database/Database.php

		-
			message: '#^Instanceof between Utopia\\Database\\Index and Utopia\\Database\\Index will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/Database/Database.php

		-
			message: '#^Instanceof between Utopia\\Database\\Query and Utopia\\Database\\Query will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/Database/Database.php

		-
			message: '#^Offset 0 on non\-empty\-list\<string\> on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: src/Database/Database.php

		-
			message: '#^PHPDoc tag @param for parameter \$onDelete with type string\|null is not subtype of native type Utopia\\Query\\Schema\\ForeignKeyAction\|null\.$#'
			identifier: parameter.phpDocType
			count: 1
			path: src/Database/Database.php

		-
			message: '#^Parameter \#2 \$indexes of class Utopia\\Database\\Validator\\Index constructor expects array\<Utopia\\Database\\Document\>, list\<object\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Database/Database.php

		-
			message: '#^Parameter \#4 \$onNext of method Utopia\\Database\\Database\:\:upsertDocumentsWithIncrease\(\) expects \(callable\(Utopia\\Database\\Document, Utopia\\Database\\Document\|null\)\: void\)\|null, \(callable\(Utopia\\Database\\Document, Utopia\\Database\\Document\|null\)\: void\)\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Database/Database.php

		-
			message: '#^PHPDoc tag @param for parameter \$type with type string is incompatible with native type Utopia\\Database\\SetType\.$#'
			identifier: parameter.phpDocType
			count: 1
			path: src/Database/Document.php

		-
			message: '#^Parameter \#1 \$array \(list\<string\>\) of array_values is already a list, call has no effect\.$#'
			identifier: arrayValues.list
			count: 1
			path: src/Database/Hook/PermissionWrite.php

		-
			message: '#^Parameter \#1 \$array \(non\-empty\-list\<string\>\) of array_values is already a list, call has no effect\.$#'
			identifier: arrayValues.list
			count: 1
			path: src/Database/Hook/PermissionWrite.php

		-
			message: '#^Parameter \#3 \$additions of method Utopia\\Database\\Hook\\PermissionWrite\:\:insertPermissions\(\) expects array\<string, list\<string\>\>, array\<''create''\|''delete''\|''read''\|''update'', non\-empty\-array\<string\>\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Database/Hook/PermissionWrite.php

		-
			message: '#^Parameter \#3 \$removals of method Utopia\\Database\\Hook\\PermissionWrite\:\:deletePermissions\(\) expects array\<string, list\<string\>\>, array\<''create''\|''delete''\|''read''\|''update'', non\-empty\-array\<int\<0, max\>, string\>\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Database/Hook/PermissionWrite.php

		-
			message: '#^Strict comparison using \=\=\= between Utopia\\Query\\Method\:\:Select and Utopia\\Query\\Method\:\:Select will always evaluate to true\.$#'
			identifier: identical.alwaysTrue
			count: 1
			path: src/Database/Hook/RelationshipHandler.php

		-
			message: '#^Method Utopia\\Database\\Index\:\:__construct\(\) has parameter \$attributes with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Database/Index.php

		-
			message: '#^Method Utopia\\Database\\Index\:\:__construct\(\) has parameter \$lengths with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Database/Index.php

		-
			message: '#^Method Utopia\\Database\\Index\:\:__construct\(\) has parameter \$orders with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Database/Index.php

		-
			message: '#^Parameter \#4 \$onNext of method Utopia\\Database\\Database\:\:upsertDocuments\(\) expects \(callable\(Utopia\\Database\\Document, Utopia\\Database\\Document\|null\)\: void\)\|null, \(callable\(Utopia\\Database\\Document, Utopia\\Database\\Document\|null\)\: void\)\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Database/Mirror.php

		-
			message: '#^Property Utopia\\Database\\Mirror\:\:\$source in isset\(\) is not nullable nor uninitialized\.$#'
			identifier: isset.initializedProperty
			count: 2
			path: src/Database/Mirror.php

		-
			message: '#^Offset 0 on non\-empty\-list\<string\> on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: src/Database/Validator/Index.php

		-
			message: '#^Strict comparison using \=\=\= between ''string'' and ''string'' will always evaluate to true\.$#'
			identifier: identical.alwaysTrue
			count: 1
			path: src/Database/Validator/Operator.php

		-
			message: '#^Parameter \#2 \$attributes of method Utopia\\Database\\Validator\\Structure\:\:checkForAllRequiredValues\(\) expects array\<string, mixed\>, array\<int\|string, mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Database/Validator/PartialStructure.php

		-
			message: '#^Call to function is_array\(\) with array\<string\|Utopia\\Database\\Query\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Database/Validator/Queries.php

		-
			message: '#^Instanceof between Utopia\\Database\\Query and Utopia\\Database\\Query will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/Database/Validator/Query/Cursor.php

		-
			message: '#^Instanceof between Utopia\\Database\\Query and Utopia\\Database\\Query will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/Database/Validator/Query/Limit.php

		-
			message: '#^Instanceof between Utopia\\Database\\Query and Utopia\\Database\\Query will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/Database/Validator/Query/Offset.php

		-
			message: '#^Instanceof between Utopia\\Database\\Query and Utopia\\Database\\Query will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/Database/Validator/Query/Order.php

		-
			message: '#^Instanceof between Utopia\\Database\\Query and Utopia\\Database\\Query will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/Database/Validator/Query/Select.php

		-
			message: '#^Parameter &\$keys by\-ref type of method Utopia\\Database\\Validator\\Structure\:\:checkForAllRequiredValues\(\) expects array\<string, mixed\>, array\<mixed\> given\.$#'
			identifier: parameterByRef.type
			count: 1
			path: src/Database/Validator/Structure.php

		-
			message: '#^Call to function is_string\(\) with string will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: tests/e2e/Adapter/Base.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertIsArray\(\) with array\<Utopia\\Database\\Document\> will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 4
			path: tests/e2e/Adapter/Base.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertIsArray\(\) with array\<string\> will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 3
			path: tests/e2e/Adapter/Base.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertIsInt\(\) with int will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/e2e/Adapter/Base.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertIsString\(\) with string will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 3
			path: tests/e2e/Adapter/Base.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertNotEmpty\(\) with ''2000\-01\-01T10\:00\:00…'' and mixed will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 2
			path: tests/e2e/Adapter/Base.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertNotNull\(\) with Utopia\\Database\\Document will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 5
			path: tests/e2e/Adapter/Base.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertNotNull\(\) with string will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 6
			path: tests/e2e/Adapter/Base.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertTrue\(\) with true and ''Exception thrown as…'' will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/e2e/Adapter/Base.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertTrue\(\) with true and ''Identical indexes…'' will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 4
			path: tests/e2e/Adapter/Base.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertTrue\(\) with true and ''Index with…'' will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 4
			path: tests/e2e/Adapter/Base.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertTrue\(\) with true and ''Multiple fulltext…'' will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 2
			path: tests/e2e/Adapter/Base.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertTrue\(\) with true will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 14
			path: tests/e2e/Adapter/Base.php

		-
			message: '#^Method Tests\\E2E\\Adapter\\Base\:\:initMoviesFixture\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/e2e/Adapter/Base.php

		-
			message: '#^Method Tests\\E2E\\Adapter\\Base\:\:invalidDefaultValues\(\) should return array\<array\<bool\|float\|int\|string\>\> but returns array\<int, list\<bool\|float\|int\|string\|Utopia\\Query\\Schema\\ColumnType\>\>\.$#'
			identifier: return.type
			count: 1
			path: tests/e2e/Adapter/Base.php

		-
			message: '#^PHPDoc tag @param for parameter \$type with type string is incompatible with native type Utopia\\Query\\Schema\\ColumnType\.$#'
			identifier: parameter.phpDocType
			count: 1
			path: tests/e2e/Adapter/Base.php

		-
			message: '#^Parameter \#2 \$attributes of method Utopia\\Database\\Database\:\:createCollection\(\) expects array\<Utopia\\Database\\Attribute\>, array\<int, Utopia\\Database\\Document\> given\.$#'
			identifier: argument.type
			count: 20
			path: tests/e2e/Adapter/Base.php

		-
			message: '#^Parameter \#2 \$attributes of method Utopia\\Database\\Database\:\:createCollection\(\) expects array\<Utopia\\Database\\Attribute\>, list\<Utopia\\Database\\Document\> given\.$#'
			identifier: argument.type
			count: 2
			path: tests/e2e/Adapter/Base.php

		-
			message: '#^Parameter \#3 \$indexes of method Utopia\\Database\\Database\:\:createCollection\(\) expects array\<Utopia\\Database\\Index\>, array\<int, Utopia\\Database\\Document\> given\.$#'
			identifier: argument.type
			count: 15
			path: tests/e2e/Adapter/Base.php

		-
			message: '#^Parameter \$type of class Utopia\\Database\\Relationship constructor expects Utopia\\Database\\RelationType, string given\.$#'
			identifier: argument.type
			count: 1
			path: tests/e2e/Adapter/Base.php

		-
			message: '#^Property Tests\\E2E\\Adapter\\Base\:\:\$moviesFixtureData type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/e2e/Adapter/Base.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertNotNull\(\) with bool will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/e2e/Adapter/MongoDBTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertTrue\(\) with true will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 4
			path: tests/e2e/Adapter/MongoDBTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertNotNull\(\) with bool will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/e2e/Adapter/Schemaless/MongoDBTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertTrue\(\) with true will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 4
			path: tests/e2e/Adapter/Schemaless/MongoDBTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertNotNull\(\) with bool will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/e2e/Adapter/SharedTables/MongoDBTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertTrue\(\) with true will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 4
			path: tests/e2e/Adapter/SharedTables/MongoDBTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertIsString\(\) with non\-falsy\-string will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/unit/IDTest.php
