<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.0/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    colors="true"
    processIsolation="false"
    stopOnFailure="false"
    requireCoverageMetadata="false"
    displayDetailsOnPhpunitDeprecations="false"
    displayDetailsOnPhpunitNotices="false"
>
    <testsuites>
        <testsuite name="unit">
            <directory>./tests/unit</directory>
        </testsuite>
        <testsuite name="e2e">
            <directory>./tests/e2e/Adapter</directory>
        </testsuite>
    </testsuites>
</phpunit>
